@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #0F0F0F;
}

h1, h4, p, a {
  color: #fce8d2;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  background: #8f5513;
  color: #fce8d2;
  font-size: 1rem;
  padding: 12px 32px 12px;
  border: 1px solid #fce8d2;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 10px 5px;
  width: 50%;
}

.btn-light {
  display: inline-block;
  background: transparent;
  color: #fce8d2;
  padding: 12px 32px 12px;
  font-size: 1rem;
  border: 1px solid #fce8d2;
  text-transform: uppercase;
  width: 50%;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fffaf5;
  transition: 0.3s;
}

.btn-light:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fffaf5;
  transition: 0.3s;
}
